<header class="header">
  <h1 class="header__logo">Recipe Book</h1>
  <ul class="header__items">
    <li>
      <a routerLink="/recipes" (click)="onRecipesHandler()">Recipes</a>
    </li>
    <li>
      <a routerLink="/shipping-list" (click)="onShoppingListHandler()"
        >Shopping list</a
      >
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" role="button"
        >Manage <span class="caret"></span
      ></a>
      <ul class="dropdown-menu">
        <li><a href="#">Save Data</a></li>
        <li><a href="#">Fetch Data</a></li>
      </ul>
    </li>
  </ul>
</header>
